<font size="6">Name : Digesh Patel</font><br>
<font size="6">ID : 202318038</font><br>
<font size="6">Big Data Processing</font><br>

**<font size="7">Assignment 4</font><br>**

<font size="6">RDD Task-1</font>

In [ ]:
import numpy as np
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [ ]:
# Seed
np.random.seed(10)

# Generate 100 random numbers in the range 0 to 10
random_numbers = np.random.randint(0, 11, size=100)
random_numbers

array([ 9,  4,  0,  1,  9,  0,  1, 10,  8,  9,  0, 10,  8,  6,  4,  3,  0,
        4,  6,  8, 10,  1,  8,  4,  1,  3,  6,  5,  3,  9,  6,  9,  1,  9,
        4,  2,  6,  7,  8, 10,  8,  9,  2,  0,  6,  7,  8,  1,  7,  1,  4,
       10,  0,  8,  5,  4,  7,  8,  8,  2,  6,  2,  8,  8,  6,  6,  5, 10,
        6,  0,  0,  6,  9,  1,  8, 10,  9,  1,  2,  8,  9,  9,  5,  0,  2,
        7,  3,  0,  4,  2,  0,  3,  3,  1,  2,  5,  9,  0, 10,  1])

In [ ]:
sc = SparkContext("local", "RDD Task-1")
rdd = sc.parallelize(random_numbers)

In [ ]:
frequency = rdd.map(lambda x: (x, 1)).reduceByKey(lambda a, b: a + b).sortByKey()
for num, freq in frequency.collect():
    print(f"Number: {num}, Frequency: {freq}")
sc.stop()

Number: 0, Frequency: 12
Number: 1, Frequency: 11
Number: 2, Frequency: 8
Number: 3, Frequency: 6
Number: 4, Frequency: 8
Number: 5, Frequency: 5
Number: 6, Frequency: 11
Number: 7, Frequency: 5
Number: 8, Frequency: 14
Number: 9, Frequency: 12
Number: 10, Frequency: 8

<font size="6">RDD Task-2</font>

In [ ]:
spark = SparkSession.builder \
    .appName("RDD Task-2") \
    .getOrCreate()

sc = spark.sparkContext

In [ ]:
# RDD
text_rdd = sc.textFile("/content/drive/MyDrive/text8")


words_rdd = text_rdd.flatMap(lambda line: line.split())

# frequency of each word
word_frequencies = words_rdd.map(lambda word: (word, 1)).reduceByKey(lambda a, b: a + b)

words_with_a_frequencies = word_frequencies.filter(lambda pair: 'a' in pair[0])

# print the result
results = words_with_a_frequencies.collect()

In [ ]:
for index,(word, frequency) in enumerate(results):
    print(f"Word: {word:20}Frequency: {frequency}")
    if index==50:
      break
sc.stop()

Word: autonomous          Frequency: 404
Word: william             Frequency: 3437
Word: mikhail             Frequency: 215
Word: travail             Frequency: 6
Word: culminated          Frequency: 131
Word: theoretical         Frequency: 614
Word: adam                Frequency: 760
Word: cease               Frequency: 241
Word: classified          Frequency: 668
Word: integration         Frequency: 498
Word: pirate              Frequency: 168
Word: statehood           Frequency: 88
Word: boundary            Frequency: 587
Word: didactic            Frequency: 29
Word: graeme              Frequency: 29
Word: generations         Frequency: 407
Word: advertising         Frequency: 528
Word: weak                Frequency: 663
Word: warm                Frequency: 464
Word: walk                Frequency: 549
Word: timgad              Frequency: 1
Word: fabric              Frequency: 153
Word: hatchet             Frequency: 10
Word: rays                Frequency: 304
Word: diamond             Frequency: 590
Word: ambitious           Frequency: 204
Word: investigates        Frequency: 39
Word: situated            Frequency: 458
Word: ancestral           Frequency: 136
Word: unearthed           Frequency: 43
Word: magnus              Frequency: 136
Word: rtca                Frequency: 1
Word: dreamtime           Frequency: 6
Word: acronyms            Frequency: 49
Word: madagascar          Frequency: 201
Word: thread              Frequency: 146
Word: pyanepsia           Frequency: 1
Word: realencyclop        Frequency: 2
Word: khasian             Frequency: 1
Word: pakanic             Frequency: 2
Word: subclassification   Frequency: 4
Word: generalized         Frequency: 200
Word: totalitarianism     Frequency: 53
Word: shishaldin          Frequency: 1
Word: waits               Frequency: 37
Word: gradual             Frequency: 189
Word: moonwalkers         Frequency: 1
Word: americana           Frequency: 42
Word: pastizal            Frequency: 1
Word: diurnal             Frequency: 23
Word: whales              Frequency: 196

<font size="6">DataFrame Task:</font>

In [ ]:
sc = SparkSession.builder \
    .appName("DataFrame Task") \
    .getOrCreate()

iris_df = sc.read.json("/content/iris.json")

# Calculate Pearson Correlation between petalLength and petalWidth
correlation = iris_df.stat.corr("petalLength", "petalWidth")

print("Pearson Correlation between petalLength and petalWidth:", round(correlation,2))

Pearson Correlation between petalLength and petalWidth: 0.96

In [ ]:
# Show columns sepalLength, sepalWidth, and species for rows where petalLength >= 1.4
filtered_df = iris_df.filter(iris_df["petalLength"] >= 1.4).select("sepalLength", "sepalWidth", "species")
filtered_df.show()

sc.stop()

+-----------+----------+-------+
|sepalLength|sepalWidth|species|
+-----------+----------+-------+
|        5.1|       3.5| setosa|
|        4.9|       3.0| setosa|
|        4.6|       3.1| setosa|
|        5.0|       3.6| setosa|
|        5.4|       3.9| setosa|
|        4.6|       3.4| setosa|
|        5.0|       3.4| setosa|
|        4.4|       2.9| setosa|
|        4.9|       3.1| setosa|
|        5.4|       3.7| setosa|
|        4.8|       3.4| setosa|
|        4.8|       3.0| setosa|
|        5.7|       4.4| setosa|
|        5.1|       3.5| setosa|
|        5.7|       3.8| setosa|
|        5.1|       3.8| setosa|
|        5.4|       3.4| setosa|
|        5.1|       3.7| setosa|
|        5.1|       3.3| setosa|
|        4.8|       3.4| setosa|
+-----------+----------+-------+
only showing top 20 rows